* {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    border: 0;
    vertical-align: top;
}

.clearfix::after {
    content: 0;
    display: table;
    clear: both;
}

i, em, address {
    font-style: normal;
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

header {
    width: 100%;
    height: 100px;
}

header h1 {
    float: left; padding-top: 30px;
}

header nav {float: right;}
header nav .nav_bg{}
header nav ul.gnb{}
header nav ul.gnb>li{}
header nav ul.gnb>li>ul.sub>li{}
header nav ul.gnb>li>ul.gnb>li>a{}

ul.slide {
    width: 100%;
    height: 300px;
}

.content {
    width: 100%;
    height: 200px;
}

footer {
    width: 100%;
    height: 100px;
}